.btn img {
  width: 20px;
  margin-right: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
}

.innerBox {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  bottom: 10px;
  right: 10px;
}


#results li {
  cursor: grab;
}

#results li:active {
  cursor: grabbing;
}

#results li.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}

#preview, #editor {
  margin: 20px auto;
  max-width: 600px;
}

#preview {
  min-height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px 12px;
  text-align: left;
}

#preview img {
  max-width: 100%;
}
